@media (orientation: landscape) and (max-width: 960px) {
  .parent-board {
    width: auto !important;
    position: absolute;
    right: 20px;
    bottom: 25px;
  }

  .board {
    width: auto !important;
  }

  .board > div {
    width: fit-content;
  }

  .board > div > div {
    height: 6.7vh;
    width: 6.7vh;
    flex: none;
  }

  /* Controller style */
  .controller {
    left: 12vw !important;
    bottom: 15vh !important;
    right: unset !important;
  }

  .main-buttons {
    left: 215px !important;
    top: 27px !important;
  }
}

@media (orientation: landscape) and (max-height: 320px) {
  .main-buttons {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .main-buttons > button {
    font-size: 18px !important;
    height: 25px !important;
  }

  .main-buttons > button:last-child {
    margin-left: 0 !important;
    margin-top: 5px !important;
  }
}
